@import '../node_modules/mini.css/src/flavors/mini-default.scss';

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
}

ul {
    li {
        list-style: none;
    }
}

.main {
    max-width: 960px;
    margin: 0 auto;
}

@media (min-width: 768px) {
  html {
     font-size: 16px;
  }
}

.text-center {
    text-align: center;
}