@import '../node_modules/mini.css/src/flavors/mini-default.scss';

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
}

ul {
    li {
        list-style: none;
    }
}

#example {
    max-width: 760px;
}